.home{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}
.home_page_presentation{
    height: 100vh;
}
.top_navbar{
    margin: 10px 0px 0px 21% ;
    font-size: 22px;
    color: #b7b7b7;
    mix-blend-mode: difference;
}
.home_title{
    font-size: clamp(50px, 14vw, 120px);
    height: 150px;
    font-weight: 400;
    margin: 0px;
    text-transform: uppercase;
    z-index: 100;
    will-change: transform;
}

.home_img_content{
    height: 50%;
    position: relative;
}
.home_img_arrow{
    font-size: 60px;
    font-weight: 600;
    position: absolute;
    bottom: 120px;
    left: 0px;
    z-index: 100;
    will-change: transform;
}
.home_img_background{
    width: 600px;
    height: 300px;
    border-radius: 200px;
    background: rgb(199, 198, 198);
    position: absolute;
    top: 40px;
    right: 0;
    will-change: transform;
}
.home_img{
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    right: 165px;
    filter: grayscale(0.2);

}
.interest{
    height: 100vh;
}
.interest_first{
    height: 40%;
    display: flex;
}
.interest_prompt{
    align-self: flex-end;
}
.interest_prompt_text{
    width: 80%;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    max-width: 38vw;
    margin-block-start: 0em;
}
.interest_skills{
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.interest_skills_item{
    width: 25%;
    max-width: 350px;
}
.interest_slide{
    font-size: 22px;
    align-self: end;
}
.project{
    height: auto;
    display: flex;
    justify-content: space-between;
}
.project_list{
    margin: 0px auto;
    width: 100%;
}
@media screen and (max-width : 1200px){
    .top_navbar{
        margin: 10px 0 0 33%;
    }
    .interest_slide{
        display: none;
    }
}
@media screen and (max-width : 768px){
    .home{
        justify-content: end;
    }
    .home_title{
        height: 1em;
    }
    .home_img_background{
        width: 350px;
        height: 200px;
        top: 25px;
        right: -5px;
    }
    .home_img{
        left: 22%;
    }
    .home_img_arrow{
        bottom: 20px;
    }
    .top_navbar{
        display: none;
    }
    .interest{
        height: auto;
    }
    .interest_first{
        flex-direction: column;
    }
    .interest_prompt{
        font-size: 22px;
        margin: 20px 0px;
    }
    .interest_prompt_text{
        width: auto;
        font-size: 22px;
        max-width: 90%;
    }
    .interest_skills{
        flex-direction: column;
        align-items: flex-start;
    }
    .interest_skills_item{
        width: auto;
    }
    .project_list{
        margin: auto 0px;
    }

  }