body{
    margin: 0px;
}
.home{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home_page_presentation{
    height: 100vh;
}
.top_navbar{
    margin: 50px 0px 0px 21% ;
    font-size: 22px;
}
.home_title{
    font-size: clamp(70px, 120vw, 120px) ;
    height: 150px;
    font-weight: 400;
    margin: 0px 0px 0px;
    text-transform: uppercase;
}

.home_img{
    height: 50%;
    position: relative;
}
.home_img_background{
    width: 700px;
    height: 300px;
    background: black;
    margin-right: 0%;
    float: right;
    position: absolute;
    top: 25%;
    right: 0;
}
.home_img_content{
    position: absolute;
    height: 100%;
    top: 0;
    right: 350px;
    filter: grayscale(0.8);

}
section{
    border-top: 1px solid red;
}
.interest{
    height: 100vh;
    border-top: 1px solid red;
}
.interest_first{
    height: 50%;
    display: flex;
}
.interest_about{
    width: 20%;
}
.interest_about_title{
    font-size: 22px;
    margin: 0;
    font-weight: 200;
    margin-left: 6px;
}
.interest_prompt{
    align-self: flex-end;
}
.interest_prompt_text{
    width: 80%;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
    max-width: 38vw;
    margin-block-start: 0em;
}
.interest_skills{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.interest_skills_item{
    width: 25%;
    max-width: 350px;
}
.interest_slide{
    font-size: 22px;
    align-self: end;
}
.project{
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.project_list{
    margin: 40px auto;
    width: 100%;
}
.contact{
    height: 80vh;
}