*{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 38px;
    align-items: center;
    mix-blend-mode: difference;
    margin: 0px 60px;
    z-index: 1000;
    will-change: transform;
}
.links{
    display: flex;
    justify-content: center;
    width: 210px;
    color: black;
}
.links_navbar {
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
    transition: 0.5s;
    position: relative;
    width: fit-content;
    margin-left: 5px;
}

@media screen and (max-width : 768px){
    .navbar{
        top: 20px;
        margin: 0px auto;
        padding-right: 20px;
        padding-left: 20px;
    }
    .links_navbar{
        font-size: 16px;
    }
    .links{
        width: unset;
    }
}