*{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 38px;
    align-items: center;
    mix-blend-mode: difference;
    margin: 0px 8em;
    z-index: 1000;
    will-change: transform;
}
.links{
    display: flex;
    justify-content: space-between;
    width: auto;
}
.links_navbar {
    text-decoration: none;
    color: #b7b7b7;
    font-size: 22px;
    transition: 0.5s;
    position: relative;
    width: fit-content;
    padding-right: 5px;
}

@media screen and (max-width : 768px){
    .navbar{
        top: 20px;
        margin: 0px auto;
        padding-right: 20px;
        padding-left: 20px;
    }
    .links_navbar{
        font-size: 16px;
    }
    .links{
        width: unset;
    }
}