.project_display{
    height: 100vh;
}
  .arrow {
    cursor: pointer;
    position: absolute;
    top: 2em;
    left: 6em;
    transition: transform 0.1s;
    width: 20px;
    z-index: 100;
    color: aliceblue;
    transform: rotate(90deg);
    font-size: 22px;
  }
.project_all{
    height: auto;
}
.project_content_part{
    display: flex;
    position: relative;
}
.project_content_img{
  margin: 0 auto;
  height: 60%;
  width: 100%;
  object-fit: scale-down;
}
.project_description{
    width: 40%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.project_description_h1{
    font-size: 40px;
    font-weight: 500;
}
.project_description_article{
    width: 80%;
    font-size: 22px;
    font-weight: 200;
    margin: 1em 0;
}
.project_content{
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.projectItem{
    display: flex;
    justify-content: left;
    height: 230px;
    border-bottom: 2px solid white;
    align-items: center;
    justify-content: space-between;
}

.projectItem_page{
width: auto;
}
.projectItem_title{
  font-size: clamp(50px, 10vw, 100px);
    font-weight: 200;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
    cursor: pointer;
}
.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: opacity 0.4s;
  transition: 1.2s;
  transition: all 0.3s;
  font-weight: 400;
}
.menu__item-link:hover {
	transition-duration: 0.3s;
  transition: 1.2s;
  transform: scaleY(1.4);
  transform: translateX(20px);
}
.menu__item-img {
	pointer-events: none;
	position: absolute;
  object-fit: contain;
	height: 40vh;
	max-height: 400px;
  max-width: 500px;
	opacity: 0;
	left: 90%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
  transition: all 0.4s;
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw),-30%,0);
	transition: all 0.4s;
  z-index: 100;
}
.projectItem_details{
    align-items: center;
    align-self: end;
}
.projectItem_info{
    font-size: 22px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: left;
    font-weight: 300;
}
.bgImage{
    width: 0%;
    height: 100px;
    object-fit: cover;
    background: no-repeat;
}
.project_footer{
    height: 9vh;
    font-size: 22px;
    font-weight: 300;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-right: 4em;
    padding-left: 4em;
    border-top: 1px solid ;
    z-index: 1000;
}
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.project_footer_link{
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.project_footer_link_item{
    margin: 0 5px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width : 768px){

  .projectItem{
      flex-direction: column;
      align-items: flex-start;
      max-height: 165px;
  }
  .projectItem_title{
    font-weight: 400;
  }
  .projectItem_page{
    margin: auto 0;
  }
  .projectItem_details{
    margin-bottom: 0px;
    width: fit-content;
    display: flex;
  }
  .projectItem_info{
    font-size: 12px;
    padding-left: 5px;
  }
  .arrow{
    display: none;
    left: 30px;
    font-size: 22px;
    bottom: 28px;
  }
  .project_display{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  }
  .project_content_part{
    display: flex;
    flex-direction: column-reverse;
  }
  .project_content{
    width: 95%;
    margin: 20px auto;
  }
  .menu__item-img{
    left: 106%;
    width: 100%;
  }
  .project_description{
    width: auto;
    margin-top: 0em;
    height: auto;
    justify-content: flex-start;
    overflow: hidden;
  }
  .project_description_article{
    width: auto;
    text-align: justify;
    font-size: 13px;
  }
  .project_description_h1{
    font-size: 22px;
  }
  .arrow1 {
    cursor: pointer;
    transition: transform 0.1s;
    width: 20px;
    z-index: 100;
    color: aliceblue;
    transform: rotate(90deg);
    font-size: 22px;
  }
  .project_footer{
    font-size: 15px;
    width: 100%;
    justify-content: space-around;
    /* background-color: darkgray; */
    padding-left: 0em;
    padding-right: 0em;
    
  }
}
@media screen and (min-width : 768px){
  .arrow1 {
    display: none;
  }

}
