.App {
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Satoshi', sans-serif;
  letter-spacing: -.03vw;
}
body{
  background: url(../src/assets/nnnoise.svg);
  background-attachment: fixed;
  color: aliceblue;
}
.mainPage{
  margin: auto 70px;
}