.App {
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Satoshi', sans-serif;
  letter-spacing: -.03vw;
}
body{
  /* background: url(../src/assets/nnnoise.svg);
  background-attachment: fixed; */
  background-color: darkgray;
  color: aliceblue;
}
section{
  padding-right: 60px;
  padding-left: 60px;
  border-top: 1px solid red;
}
/* .mainPage{
  padding-left: 40px;
  padding-right: 40px;
} */

@media screen and (max-width : 576px){
  section{
    padding-right: 10px;
    padding-left: 10px;
  }
}